# Flask framework for building web applications
flask

# Flask-RESTx for building REST APIs
flask-restx

# Emai-Validator to check Email
email-validator


add amenity par rapport a la place , link l'amenity concerné
mettre l'id de lamenity dans la place et inversement
