<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
<!-- Header Section -->
<header>
  <nav>
    <!-- Logo link -->
    <a href="index.html">
      <img
        class="logo"
        src="../static/images/logo.png"
        alt="application logo"
      >
    </a>
    <!-- Login link -->
    <a href="login.html" id="login-link" class="login-button">Login</a>
  </nav>
</header>
</html>
